---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Section1 from '../components/Section1.astro';
import Section2 from '../components/Section2.astro';

---
<MainLayout title="Titel">

	<!-- <section class="">
      <div class="text-2xl ">
        <h1>Digital</h1>
        <h1>Cleanup</h1>
        <h1>Day</h1>
      </div>
    </section> -->

<Section1 />
<Section2 />

</MainLayout>