---
const { variant= "primary", size = "medium" } = Astro.props;

const knap ="border-2 p-4 rounded-full font-bold font-jost"

const variantClasses = {
    "primary": "border-[#3B2983] bg-[#B5D7FF] border-[5px] hover:bg-[#9ED2DD] py-2 px-7 text-[#3B2983]",
    "secondary": "B5D7FF"
};



const sizeClasses = {
    "big": "text-4xl",
    "medium": "text-2xl",
    "small": "text-1xl"
};
---

<a href="/register/">
<a href="/register/">
    <button class:list= {[knap, variantClasses[variant], sizeClasses[size]]} >Register her!</button>
</a>
<!-- 
<div>
    <button><slot /></button>
</div> -->