---
---
<footer>

    <div class="text-white bg-[#3B2983] space-y-7 mt-10 p-5">
  <div>
    <h3 class="text-xl font-bold text-center pt-2 mb-2">Digital skrald</h3>
    <p>Digitalskraldedag handler om at rydde op i og reducere digitalt affald såsom unødvendige e-mails, filer og apps for at mindske vores miljømæssige fodaftryk og forbedre digital effektivitet.</p>
  </div>

  <div>
    <h3 class="text-xl font-bold text-center pt-2 mb-2">Sociale medier</h3>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <p>Copyright © 2024 Digital Cleanup Day & Lets Do It World</p>
  </div>

   </div>

</footer>