---
---
<footer>

<div class="">

    <div class="text-white bg-footer space-y-7 md:space-y-0 mt-10 p-5 md:grid grid-cols-2">

  <div class="">
    <h3 class="text-xl font-bold text-center pt-2 mb-4">Digital skrald</h3>
    <p class="font-jost text-center md:mx-24">Digitalskraldedag handler om at rydde op i og reducere digitalt affald såsom unødvendige e-mails, filer og apps for at mindske vores miljømæssige fodaftryk og forbedre digital effektivitet.</p>
  </div>

  <div>
    <h3 class="text-xl font-bold text-center pt-2 mb-2">Sociale medier</h3>

    <div>
    <div class="flex flex-row justify-center content-center gap-6 mb-12 mt-5 md:pt-10 pt-7">
    <img src="/insta.png" alt="Instagram" class="w-10 h-10">
    <img src="/face.png" alt="Facebook" class="w-10 h-10">
    <img src="/twit.png" alt="X" class="w-10 h-10">
    <img src="/yt.png" alt="Youtube" class="w-10 h-10">
</div>

    </div>
    <p class="font-jost text-sm text-center">Copyright © 2024 Digital Cleanup Day & Lets Do It World</p>
  </div>

   </div>

</div>

</footer>