---
---
<footer>

    <div class="text-white bg-[#3B2983] space-y-7 mt-10 p-5 ">
  <div class="">
    <h3 class="text-xl font-bold text-center pt-2 mb-4">Digital skrald</h3>
    <p class="font-jost">Digitalskraldedag handler om at rydde op i og reducere digitalt affald såsom unødvendige e-mails, filer og apps for at mindske vores miljømæssige fodaftryk og forbedre digital effektivitet.</p>
  </div>

  <div>
    <h3 class="text-xl font-bold text-center pt-2 mb-2">Sociale medier</h3>

    <div class="w-48 grid grid-cols-4 gap-6 mb-12 mt-5 mx-[108px]">
    <img src="/insta.png" alt="Instagram">
    <img src="/face.png" alt="Facebook">
    <img src="/twit.png" alt="X">
    <img src="/yt.png" alt="Youtube">
    </div>

    <p class="font-jost">Copyright © 2024 Digital Cleanup Day & Lets Do It World</p>
  </div>

   </div>

</footer>