      
      <div class=" pt-32">

      <div class="flex flex-row items-center mb-5">

         <div class=" bg-[#9ED2DD] p-5 rounded-[15px]">
           <h1 class="mb-4 text-xl font-bold ">Hvad er digital skrald?</h1>
            <p>Digitalt affald omfatter unødvendige e-mails, filer, apps, kopier af fotos og videoer.</p>
         </div>

<div>
  <img class="w-96" src="../../public/placeholder.svg" alt="">
</div>

     


      </div>


      <div class="flex flex-row-reverse items-center mb-5">

      
        

          <div class="bg-[#9ED2DD] p-5 rounded-[15px]">
            <h1 class="text-xl font-bold">Problem med digital skrald</h1>
            <p>Problemet med digitalt affald er, at det forbruger energi og bidrager til CO2-udledning, men det skaber også digital forurening, som bliver ved med at eksistere, selv når det bliver glemt, og belaster servere og cloud-tjenester med unødvendige data</p>
         </div>
         
         <div>
          <img class="w-96" src="../../public/placeholder.svg" alt="">
        </div>
      </div>

      </div>

      
