<div class="text-textblaa">
    <h1 class="mt-20 font-bold text-3xl text-center mb-10 md:text-5xl md:mb-20">Hvordan fjerner man digital skrald?</h1>
    
<div class=" space-y-7">

  <div class="border-[#B5D7FF] bg-[#B5D7FF] rounded-[15px] p-8">
    <h4 class="font-bold mb-2.5">Trin et, ryd op på din smartphone:</h4>
    <p class="font-jost">Slet apps, du ikke har brugt i et stykke tid eller kun har brugt en gang. Vær ærlig og dristig! Disse glemte apps forbruger stadig energi og data til opdateringer, selv når de ikke er i brug. Slet gamle brugerkonti og data, som du ikke har tilgået i årevis. Dette kan øge hastigheden på din telefon og forlænge batteriets levetid. Gennemgå og slet unødvendige eller duplikerede fotos og videoer for at frigøre værdifuld lagerplads.</p>
    <img src="" alt="">
  </div>

  <div class="border-[#9ED2DD] bg-[#9ED2DD] rounded-[15px] p-8">
    <h4 class="font-bold mb-2.5">Trin to, ryd op på din pc og bærbar:</h4>
    <p class="font-jost">Ryd op på din pc og slet filer, der er duplikater, eller som er blevet ubrugelige. Sorter dine fotos, slet duplikater og de slørede. Gennemgå videoerne og slet sete eller unødvendige filer. Arkiver de vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din computer!</p>
    <img src="" alt="">
  </div>

  <div class="border-[#B5D7FF] bg-[#B5D7FF] rounded-[15px] p-8">
    <h4 class="font-bold mb-2.5">Trin tre, ryd op i din mailboks:</h4>
    <p class="font-jost">Filtrer e-mails efter de ældste og arkiver dem. AFBESTIL nyhedsbreve, du ikke læser. Vælg lange samtaler, vælg den nyeste og SLET alt andet. Søg efter fælles navne, adresser og ord for at gruppere lignende e-mails, så du kan håndtere dem i masse. Vær modig og klik på SLET-knappen.</p>
    <img src="" alt="">
  </div>

  <div class="border-[#9ED2DD] bg-[#9ED2DD] rounded-[15px] p-8"> 
    <h4 class="font-bold mb-2.5">Trin fire, lav nye arrangementer:</h4>
    <p class="font-jost">For at mindske din online miljøpåvirkning, overvej små ændringer: Brug chat i stedet for e-mails til korte samtaler, undgå unødvendige e-mails som 'ok' og 'tak', hold vigtige filer på én cloud-platform for at undgå duplikater, tænk over backup for at spare energi, skab mindre, men bedre indhold, backup kun det vigtigste, sluk for video under møder, sænk streamingkvaliteten og begræns tid på sociale medier og spil, og afmeld nyhedsbreve for at reducere rod. </p>
    <img src="" alt="">
  </div>

</div>

    </div>