---
const { variant= "primary", header, text} = Astro.props;

const section = "rounded-[15px] p-8"

const variantClasses = {
"primary": "bg-blaa",
"secondary": "bg-groen"

};

---






  <div class:list= {[section, variantClasses[variant]]}>
    <h4 class="font-bold mb-2.5">{header}</h4>
    <p>{text}</p>
    <img src="" alt="">
  </div>

</div>

    </div>