      
      <article class=" pt-32 jsani">

      <div class="flex flex-row items-center mb-5">

         <div class=" bg-groen p-5 rounded-[15px] text-textblaa font-jost">
           <h1 class="mb-4 text-xl font-bold ">Hvad er digital skrald?</h1>
            <p>Digitalt affald omfatter unødvendige e-mails, filer, apps, kopier af fotos og videoer.</p>
         </div>

  <img width="150px" height="150px" src="../../public/info1.svg" alt="">


     


      </div>


      <div class="flex flex-row-reverse items-center mb-5">

      
        

          <div class=" text-textblaa font-jost bg-blaa p-5 rounded-[15px]">
            <h1 class="text-xl font-bold">Problem med digital skrald</h1>
            <p>Problemet med digitalt affald er, at det forbruger energi og bidrager til CO2-udledning, men det skaber også digital forurening, som bliver ved med at eksistere, selv når det bliver glemt, og belaster servere og cloud-tjenester med unødvendige data</p>
         </div>

        
     
          <img width="150px" height="150px" src="../../public/info2.svg" alt="">        
      
      </div>

    </article>


    <script>
import { inView } from "motion";

const jsani = document.querySelector(".jsani");

inView(jsani, () => {
  jsani.classList.add("animate__animated", "animate__fadeInUp");
});


    </script>

      
