<div class="text-textblaa jsani2">
    
    <h1 class="mt-20 font-bold text-3xl text-center mb-10 font-hepta md:mb-20 md:text-5xl ">Vidste du dette?</h1>

    <div class="md:grid grid-cols-2 gap-x-12">

    <div class="font-jost border-blaa bg-blaa rounded-[15px] p-8 mb-7 md:mb-60">
        <ul class="list-disc space-y-7">
            <li>At skifte 70 millioner streamingabonnenter fra HD til standard videoopløsning kunne reducere de månedlige CO2-udledninger med 3,5 millioner tons, hvilket svarer til at eliminere 6% af den samlede månedlige kulforbrug i USA.</li>
            <li>Deltagelse i 15 timers online møder med video skaber 9,4 kg CO2 pr. måned. At slukke for videoen ville spare udledninger svarende til at oplade en smartphone natten over i over 3 år (1151 dage).</li>
            <li>Mining efter BitCoins bruger mere energi end New Zealands årlige forbrug og resulterer kun i krypterede data uden håndgribelige produkter eller serviceydelser.</li>
            <li>Den energi, der bruges til daglig video streaming (gennemsnitligt 2 timer), kunne drive et års el-scooter-kørsel, der dækker 3000 km eller 2000 miles.</li>
        </ul>

     

    </div>
<div>    
    <div class="flex justify-center">
    <img width="150px" height="150px" src="/Info3.svg" alt="" class="hidden md:block">
</div>
    <div class="font-jost border-groen bg-groen rounded-[15px] p-8 md:mt-28 mb-8">
        <ul class="list-disc space-y-7">
            <li>Mining efter BitCoins bruger mere energi end New Zealands årlige forbrug og resulterer kun i krypterede data uden håndgribelige produkter eller serviceydelser.</li>
            <li>Den energi, der bruges til daglig video streaming (gennemsnitligt 2 timer), kunne drive et års el-scooter-kørsel, der dækker 3000 km eller 2000 miles.</li>
            <li>Google forbruger dagligt 15.616 MWh, hvilket overstiger Hoovers Dæms produktion og er nok til at forsyne et land med en million mennesker i en dag.</li>
            <li>Den energi, der forbruges af vores dataforbrug, overstiger, hvad alle solpaneler producerer, primært drevet af fossile brændstoffer, og bidrager med over 870 millioner tons CO2-udledning.</li>
        </ul>
    </div>
    </div>
</div>
</div>




<script>
    import { inView } from "motion";
    
    const jsani2 = document.querySelector(".jsani2");
    
    inView(jsani2, () => {
      jsani2.classList.add("animate__animated", "animate__fadeInUp");
    });
    
    
        </script>