<div class="text-[#3B2983]">
    <h1 class="mt-20 font-bold text-3xl text-center mb-10">Hvor meget jeg har slettet</h1>

<div class="mx-4 space-y-7">

  <div>
    <p>Tjek størrelsen på din mailboks = Gå til Outlook > Fil > Indstillinger for mailboks > skriv antallet af gratis GB i din mailboks ned. Glem ikke dette, ellers vil du ikke kende resultaterne af dine oprydningsindsatser!</p>
  </div>

  <div>
    <p>Filtrér e-mails efter den ældste, du har, og saml dem i én mappe.</p>
  </div>

  <div>
    <p>Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem i masse. Vær modig og klik på SLET-knappen.</p>
  </div>

  <div>
    <p>Vælg lange samtaler, vælg den nyeste og SLET alt andet. Hvis den også er irrelevant, så vær modig og slip af med den sidste.</p>
  </div>
   
  <div>
    <p>Afmeld dig fra alle nyhedsbreve, der ikke har fanget din dybere opmærksomhed. Du vil helt sikkert ikke læse dem i fremtiden.</p>
  </div>

   <div>
    <p>FYI-e-mails (til din information) - bare SLET!</p>
  </div>

  <div>
    <p>OK-e-mails (chats med en stor gruppe mennesker, som du kunne gøre i andre kanaler) - simpelthen SLET!</p>
  </div>

  <div>
    <p>Bloker uønskede afsendere. Gå til Hjem-visning > Spam > Bloker afsender.</p>
  </div>

  <div>
    <p>Slå e-mail-notifikationer fra apps og sociale medier fra.</p>
  </div>
  
  <div>
    <p>Slet gamle aftaler fra dine online kalendere. Alle disse overskredne aftaler hober sig op i din kalendermappe og skaber digitalt affald. Gør det til din ugentlige rutine at slette dem.</p>
  </div>
  

</div>


