      <div>
        <h1>Hvad er digital skrald?</h1>
        <p>Digitalt affald omfatter unødvendige e-mails, filer, apps, kopier af fotos og videoer.</p>
      </div>

      <div>
        <h1>Problem med digital skrald</h1>
        <p>Problemet med digitalt affald er, at det forbruger energi og bidrager til CO2-udledning, men det skaber også digital forurening, som bliver ved med at eksistere, selv når det bliver glemt, og belaster servere og cloud-tjenester med unødvendige data</p>
      </div>

      