<div class="text-textblaa">
    <h1 class="mt-20 font-bold text-3xl text-center mb-10 md:text-5xl md:mb-20">Hvor meget jeg har slettet</h1>

    <div>

<div class="md:flex flex-row gap-x-20">
    <div class="font-jost gap-y-10 flex flex-col md:mx-10" >

    <p> <b>Tjek størrelsen på din mailboks </b> = Gå til Outlook > Fil > Indstillinger for mailboks > skriv antallet af gratis GB i din mailboks ned. Glem ikke dette, ellers vil du ikke kende resultaterne af dine oprydningsindsatser!</p>
  
    <p> <b>Filtrér e-mails </b> efter den ældste, du har, og saml dem i én mappe.</p>
 
    <p> <b> Søg </b> efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem i masse. Vær modig og klik på SLET-knappen.</p>
 
    <p> <b> Vælg lange samtaler </b> vælg den nyeste og SLET alt andet. Hvis den også er irrelevant, så vær modig og slip af med den sidste.</p>

    <p> <b>Afmeld dig fra alle nyhedsbreve </b> der ikke har fanget din dybere opmærksomhed. Du vil helt sikkert ikke læse dem i fremtiden.</p>
 </div>

 <div class="font-jost gap-y-10 flex flex-col md:mx-10">
    <p> <b> FYI-e-mails </b> (til din information) - bare SLET!</p>

    <p> <b> OK-e-mails </b> (chats med en stor gruppe mennesker, som du kunne gøre i andre kanaler) - simpelthen SLET!</p>

    <p> <b> Bloker uønskede afsendere. </b> Gå til Hjem-visning > Spam > Bloker afsender.</p>

    <p> <b>Slå e-mail-notifikationer fra apps og sociale medier fra.</p></b>

    <p> <b> Slet gamle aftaler </b> fra dine online kalendere. Alle disse overskredne aftaler hober sig op i din kalendermappe og skaber digitalt affald. Gør det til din ugentlige rutine at slette dem.</p>
</div>

</div>


