---
const { header, text} = Astro.props;
---






  <div class="border-[#B5D7FF] bg-[#B5D7FF] rounded-[15px] p-8">
    <h4 class="font-bold mb-2.5">{header}</h4>
    <p>{text}</p>
    <img src="" alt="">
  </div>

</div>

    </div>