      
      <div class=" pt-32">

      <div class="grid grid-cols-2 mb-10">

         <div class=" border-[#9ED2DD] bg-[#9ED2DD] mr-5 box-border h-50 w-64 p-4 rounded-[15px]">
           <h1 class="mb-4 text-xl font-bold ">Hvad er digital skrald?</h1>
            <p>Digitalt affald omfatter unødvendige e-mails, filer, apps, kopier af fotos og videoer.</p>
         </div>

         <!-- <div>
           <img class="" src="/test.jpg.avif" alt="">
        </div> -->

      </div>


      <div class="grid grid-cols-2">

        <!-- <div>
          <img src="/test.jpg.avif" alt="">
        </div> -->

          <div class="border-[#B5D7FF] rounded-[15px] bg-[#B5D7FF] box-border h-50 w-72 p-4">
            <h1 class="text-xl font-bold">Problem med digital skrald</h1>
            <p>Problemet med digitalt affald er, at det forbruger energi og bidrager til CO2-udledning, men det skaber også digital forurening, som bliver ved med at eksistere, selv når det bliver glemt, og belaster servere og cloud-tjenester med unødvendige data</p>
         </div>

      </div>

      </div>

      