---
const { variant= "primary", header, text, img} = Astro.props;

const section = "rounded-[15px] p-8 flex flex-cols md:mx-44 md:px-20 md:place-content-center"

const variantClasses = {
"primary": "bg-blaa",
"secondary": "bg-groen"

};

---





<div class:list= {[section, variantClasses[variant]]} >
  <div class="md:pr-32 flex flex-col justify-center">
    <h4 class="font-bold mb-2.5">{header}</h4>
    <p class="sef-center">{text}</p>  
  </div>


    <slot />
  </div>



<script>
  import { inView } from "motion";
  
  const jsani3 = document.querySelector(".jsani3");
  
  inView(jsani3, () => {
    jsani3.classList.add("animate__animated", "animate__fadeInBottomLeft");
  });
  
  
      </script>

 